@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Satoshi-Light';
  src: url('/fonts/Satoshi-Light.woff2') format('woff2'),
       url('/fonts/Satoshi-Light.woff') format('woff'),
       url('/fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-LightItalic';
  src: url('/fonts/Satoshi-LightItalic.woff2') format('woff2'),
       url('/fonts/Satoshi-LightItalic.woff') format('woff'),
       url('/fonts/Satoshi-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('/fonts/Satoshi-Regular.woff') format('woff'),
       url('/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Italic';
  src: url('/fonts/Satoshi-Italic.woff2') format('woff2'),
       url('/fonts/Satoshi-Italic.woff') format('woff'),
       url('/fonts/Satoshi-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('/fonts/Satoshi-Medium.woff') format('woff'),
       url('/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
       url('/fonts/Satoshi-MediumItalic.woff') format('woff'),
       url('/fonts/Satoshi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('/fonts/Satoshi-Bold.woff') format('woff'),
       url('/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-BoldItalic';
  src: url('/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
       url('/fonts/Satoshi-BoldItalic.woff') format('woff'),
       url('/fonts/Satoshi-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Black';
  src: url('/fonts/Satoshi-Black.woff2') format('woff2'),
       url('/fonts/Satoshi-Black.woff') format('woff'),
       url('/fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-BlackItalic';
  src: url('/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
       url('/fonts/Satoshi-BlackItalic.woff') format('woff'),
       url('/fonts/Satoshi-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

/**
* Default colors for fonts, buttons, etc...
*/
@theme {
  --color-bg-default: #1c1f1e;
  --color-bg-dark: #0a0a0a;
  --color-bg-card: #282b2a;
  --color-default: #CFCFCF;
  --color-bright: #FFFFFF;
  --color-light: #E0E0E0;
  --color-border-default: #535554;
  --color-border-medium: #404040;
  --color-border-light: #525252;
  --color-button-default: #282b2a;
  --color-button-border: #535554;
  --color-secondary-button: #336e41; 
  --color-secondary-button-border: #699276;
  --color-sidebar-menu: #191a1b;
  --font-satoshi: "Satoshi", sans-serif;
  --font-satoshi-bold: "Satoshi-Bold", sans-serif;
}

/**
* Styles that should be applied regardless to html and body elements
* + Removing default padding and margins
*/
@layer base {
  html, body {
    @apply p-0 m-0 min-h-screen text-default bg-bg-default;
  }
}

.prose {
  h1 > a {
    @apply text-4xl sm:text-5xl font-semibold text-bright no-underline
  }

  h2 > a{
    @apply text-3xl sm:text-4xl font-semibold text-bright no-underline
  }

  h3 > a {
    @apply text-2xl sm:text-3xl font-semibold text-bright no-underline
  }

  h4 > a{
    @apply text-xl sm:text-2xl font-semibold text-bright no-underline
  }

  h1, h2, h3, h4, h5, p {
    @apply mt-0 mb-6
  }

  code:not(pre code) {
    @apply text-bright/85 px-1 bg-bg-card 
  }

  code:not(pre code)::after, code:not(pre code)::before {
    display: none;
  }

  pre {
    background-color: #1e1e2e
  }

  p, li, ol {
    @apply text-base text-default
  }

  li::marker {
    @apply text-base text-bright
  }

  strong {
    @apply text-base text-bright font-semibold
  }

  a:not(.heading-anchor) {
    @apply text-base font-normal text-default cursor-pointer
  }

  a:hover:not(.heading-anchor) {
    @apply underline text-cyan-600
  }
}
